---
interface Props {
  details : string[]
}

const { details } = Astro.props
---

<section class="flex justify-start items-start flex-col mt-5 gap-5">
    <h2 class="relative text-2xl md:text-3xl font-semibold">
        Detalles del Viaje
        <span class="block bg-[#7f3812] w-full h-1 pt-2"></span>
    </h2> 
    <ul class="flex flex-col gap-2">
      {
        details.map(detail => (
        <li class="flex gap-2" ><svg class="w-6 h-6 text-[#312783] dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6.072 10.072 2 2 6-4m3.586 4.314.9-.9a2 2 0 0 0 0-2.828l-.9-.9a2 2 0 0 1-.586-1.414V5.072a2 2 0 0 0-2-2H13.8a2 2 0 0 1-1.414-.586l-.9-.9a2 2 0 0 0-2.828 0l-.9.9a2 2 0 0 1-1.414.586H5.072a2 2 0 0 0-2 2v1.272a2 2 0 0 1-.586 1.414l-.9.9a2 2 0 0 0 0 2.828l.9.9a2 2 0 0 1 .586 1.414v1.272a2 2 0 0 0 2 2h1.272a2 2 0 0 1 1.414.586l.9.9a2 2 0 0 0 2.828 0l.9-.9a2 2 0 0 1 1.414-.586h1.272a2 2 0 0 0 2-2V13.8a2 2 0 0 1 .586-1.414Z"/>
        </svg>{detail}</li>
        ))
      }
    </ul>
</section>