<section class="max-w-[1300px] my-8 flex flex-col md:flex-row md:items-center mx-auto relative z-[10]" id="AboutUs">
    <!-- Columna de Texto -->
    <div class="w-full md:w-1/2 p-6">
        <h2 class=" text-3xl font-semibold w-fit relative mb-4 text-black">
            Aventur Travel
            <span class="block w-full h-1 bg-[#7f3812] pt-2 mt-2"></span>
        </h2>
        <p class="text-gray-600 pb-4">En Aventur Travel, no somos solo una agencia de viajes; somos narradores de historias, arquitectos de aventuras y amantes de la exploración. Nuestro compromiso va más allá de organizar un viaje; nos esforzamos por crear experiencias que enriquezcan tu vida y despierten tu espíritu aventurero.</p>
        <p class="text-gray-600">Desde las maravillas escondidas en los rincones de Perú hasta los destinos exóticos en tierras lejanas, somos tu puerta de entrada a un mundo lleno de descubrimientos. Nos enorgullece ofrecer no solo destinos espectaculares, sino momentos inolvidables que se convertirán en parte de tu propia historia de viaje.</p>
    </div>

    <!-- Columna de Imagen -->
    <div class="w-full md:w-1/2 p-6">
        <img src="/img/CarouselMain/CarouselMain5.webp" alt="Descripción de la imagen" class="w-full h-auto rounded-md">
    </div>
</section>

