---
import Check from '@components/Icons/Check.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aventur Travel" description='Agencia de Viajes Aventur Travel'>
	<section class="z-[10] relative">
    <div class="w-[100vw] h-[400px] lg:h-[500px] relative">
      <img src="Condiciones/TyC.webp" alt="Imagen portada terminos y condiciones" class="w-full h-full"></img>
      <div class="absolute right-[50%] translate-x-[50%] bottom-[150px] text-3xl font-extrabold flex flex-col">
        <h2 class="text-center">CÓDIGO DE CONDUCTA</h2>
        <span class="bg-red-600 h-2 w-full"></span>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <p>
        Firmes a los compromisos de responsabilidad medioambiental, social trabajamos y fomentamos entre nuestros empleados y clientes el buen manejo de esta; tenemos un Código de Conducta del Viajero Responsable.
        Por ello y deseando que sus vacaciones sean una experiencia única <span class="font-bold">AVENTUR TRAVEL</span> le propone y sugiere seguir estas pequeñas recomendaciones, que le ayudaran a entender a las personas y lugares que conocerá durante los próximos días de su excursión.
      </p>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Valore y respete las tradiciones y costumbres locales</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Antes de llegar al destino elegido para tomar sus vacaciones indague todo lo que pueda acerca del lugar que visitara (costumbres, tradiciones, fiestas, platos típicos así como otras). Sera una forma de entender a la comunidad local y avivar la ilusión de la aventura que tomaremos a nuestro arribo.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Ensaye cierto tipo de palabras del idioma del lugar que visitara esto le ayudara de manera a establecer un grado de confianza y acercamiento con las personas del lugar.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Observe, conserve y respete los lugares que visitara durante sus vacaciones y de ser necesario consulte respecto a los lugares que requieren el permiso para la toma de registros fotográficos (Casi y en su mayoría iglesias, cuadros o ciertas riquezas arqueológicas)
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Muestre siempre una sonrisa, ayudara a tener una interacción más amena con las personas que conoceremos.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Evitemos motivar la mendicidad en los niños ofreciéndoles caramelos u otras cosas.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Apoye a la economía local</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La mejor manera de apoyar la economía local será comprando y dando valor a los trabajos que ellos fabrican (Artesanía, orfebrería o textilería)
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La muestra de nuestro mayor respeto a los comerciantes locales será promoviendo la apreciación por los trabajos que realizan.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Antes de comprar algún producto infórmese de las normas nacionales e internacionales respecto a los productos prohibidos para exportación, de esta manera evitara retrasos en controles de salida.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Evite riesgos y cuide su dinero, tome siempre los servicios de Agencias locales debidamente establecidas y registradas, tenga en cuenta que lo último que quiere es pasar incomodidades o incumplimientos ofrecidos.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Respetar el medio ambiente</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Mantengamos siempre la armonía paisajística, arqueológica y natural de nuestro destino.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Resguarde siempre la vida silvestre propia de nuestro destino cuidando el hábitat natural de los mismos.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Evite comprar productos fabricados con ingredientes de flora o fauna en riesgo de extinción (Infórmese siempre)
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Evite el tráfico de bienes protegidos. El mejor recuerdo de viaje será siempre el haber conocido nuestro destino y porque no, una fotografía que inmortalice el momento.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Siempre que pueda y lo desee elija tours grupales, con ello ahorrara dinero y sobre todo conocerá e interactuara con viajeros de diversas culturas con quienes podrá compartir experiencias de viaje. Además, y de esta manera reduciremos la emisión de gases carbonados.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Durante su estadía y alojamiento en hoteles u hostales use solo el agua y electricidad necesarias para su comodidad únicamente, cierre el grifo o use la electricidad conscientemente.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Sea cuidadoso al visitar áreas silvestres, patrimoniales, arqueológicas u otras que le parezcan frágiles y/o valiosas.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Ten siempre en cuenta las recomendaciones de los parques o zoológicos que visites, recuerda que cualquier alimento o producto extraño a su dieta diaria puede enfermar a los animales.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>De no tener recipientes de basura a la vista, guarda tus desechos hasta encontrar un lugar adecuado y seguro para dejar tú basura, de esta manera protegeremos el ambiente y fauna silvestre.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Realice siempre sus visitas acompañado de un guía evitando lugares no explorados y mejor conocidos a fin de evitar un impacto en el paisaje o fauna silvestre, transite por caminos y senderos demarcados adecuadamente.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Si visita un área protegida tenga en cuenta que esta, estará regida por un reglamento que salvaguarda la belleza del destino con su flora y fauna natural, por lo tanto hay que respetarlo
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Las piedras, fósiles, caracoles, plantas u otros, son parte del ecosistema natural que visitamos; evitemos retirar o moverlos de su lugar.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Las áreas naturales protegidas cuentan con instalaciones e infraestructura especialmente acondicionada para el ambiente y nuestro mejor aporte será cuidar de ellas y pagar por el uso de las mismas.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Ser un viajero informado y respetuoso</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Practique respetando las leyes y reglamentos nacionales.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Respete los derechos humanos y proteja a los niños de la explotación en el turismo, en cualquiera de sus formas, especialmente la sexual y laboral.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Antes de su viaje tome en cuenta los registros sanitarios a tener.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Infórmese de cómo puede recibir asistencia médica o como ponerse en contacto con su embajada en caso de emergencia.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <p>
        <span class="font-bold">Fuente:</span> El Comité Mundial de Ética del Turismo es un órgano independiente de la OMT encargado de la promoción del Código Ético Mundial para el Turismo.
      </p>
    </div>
  </section>
</Layout>
