---
import Check from '@components/Icons/Check.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aventur Travel" description='Agencia de Viajes Aventur Travel'>
	<section class="z-[10] relative">
    <div class="w-[100vw] h-[400px] lg:h-[500px] relative">
      <img src="Condiciones/privacidad.webp" alt="Imagen portada terminos y condiciones" class="w-full h-full"></img>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <p>
        La presente Política de Privacidad cumple con los parámetros establecidos en las normas nacionales sobre protección de datos personales, en particular, la Ley Nº 29733, Ley de protección de datos personales, y el Decreto Supremo 003-2013-JUS. Si utiliza los servicios de <span class="font-bold">AVENTUR TRAVEL SAC</span> acepta que se recopilen, usen y compartan sus datos personales en virtud de esta Política de Privacidad. La recogida y tratamiento de sus datos personales se basa principalmente en la relación contractual y/o precontractual que tiene con Nosotros.
      </p>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">INFORMACIÓN PERSONAL QUE RECOPILAMOS</h3>
      <p class="pt-6">
        Para poder contratar nuestros servicios y viajes turísticos le solicitaremos información personal como su nacionalidad su dirección, teléfono de contacto , DNI o pasaporte. Para reservar un paquete turístico de los que ofrecemos le solicitaremos datos como el nombre, nacionalidad y DNI o pasaporte. Para comprar un viaje reservado le solicitaremos sus datos de tarjeta de crédito, débito, fecha de expiración y número CVV. Si solicita factura le solicitaremos los datos de facturación si fuese necesario.
      </p>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">FINALIDADES</h3>
      <p class="pt-6">
        <span class="font-bold">AVENTUR TRAVEL SAC</span>, como Responsable del Tratamiento, tratará sus datos personales con las siguientes finalidades:
      </p>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>El desarrollo, cumplimiento y ejecución del contrato de prestación de los servicios de mediación en la contratación de nuestros proveedores de los viajes involucrados, así como para atender y resolver cualquier petición, reclamación o consulta posterior a dicha contratación.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Contactar con el Usuario a través de correo electrónico en relación a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos, incluidas actualizaciones de seguridad de la Plataforma, siempre que sea necesario o razonable para tu ejecución.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Plazo de conservacion de los datos, Mantendremos sus datos personales durante el tiempo que se mantenga la relación de prestación de servicios y la que legalmente se establezca.
        </p>
        <div class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>
          <p>Medidas de proteccion de datos personales, <span class="font-bold">AVENTUR TRAVEL SAC</span>adoptará todas y cada una de las medidas de seguridad administrativas, físicas y técnicas que establezca la ley aplicable para salvaguardar su información personal; por lo que de igual manera y en caso de que un tercero necesite conocer de dicha información, <span class="font-bold">AVENTUR TRAVEL SAC</span> obligará a dichos terceros a cumplir con la presente Política de Privacidad, así como a adoptar las medidas de seguridad administrativas, físicas y técnicas establecidas en la Ley, a fin de proteger sus datos personales de cualquier daño, perdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
          </p>
        </div>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Contactar con el Usuario a través de correo electrónico en relación a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos, incluidas actualizaciones de seguridad de la Plataforma, siempre que sea necesario o razonable para tu ejecución.
        </p>
      </div>
    </div>
  </section>
</Layout>
