---
import Check from '@components/Icons/Check.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aventur Travel" description='Agencia de Viajes Aventur Travel'>
	<section class="z-[10] relative">
    <div class="w-[100vw] h-[400px] lg:h-[500px] relative">
      <img src="Condiciones/ESNNA.webp" alt="Imagen portada terminos y condiciones" class="w-full h-full"></img>
      <div class="absolute right-[50%] translate-x-[50%] bottom-[150px] text-3xl font-extrabold flex flex-col">
        <h2 class="text-center">POLÍTICA DE PREVENCIÓN ESNNA</h2>
        <span class="bg-red-600 h-2 w-full"></span>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Política de Prevención de la Explotación Sexual de los Niños y Niñas y Adolescentes – ESNNA</h3>
      <p class="pt-6">
        <span class="font-bold">AVENTUR TRAVEL</span> en cumplimiento de lo previsto en las disposiciones legales vigentes en materia de prevención de explotación sexual de los niños y niñas y adolescente, y acogiendo a la política del Gobierno Peruano se comprometen a:
        No promover el turismo sexual de niños, niñas y adolescentes a través del diseño de nuestros paquetes turísticos. Seleccionando y evaluando proveedores responsables. Asimismo dentro de los criterios de descalificación de proveedores se encuentra el apoyar la explotación de los seres humanos, en especial la sexual y en particular cuando afecta a los niños y adolescentes.
        Informar a nuestros clientes y proveedores sobre nuestra política de prevención de explotación sexual a niños, niñas y adolescentes.
        Condenar y denunciar ante las autoridades competentes, cualquier acto de explotación o abuso sexual contra los menores de edad, y sobre el cual tengamos conocimiento.
        Prohibir que a través de las redes sociales de nuestra empresa se utilice y divulgue material ilegal con menores de edad.
        Mostrar en un lugar público ya sea digital o impreso nuestra política de prevención de explotación sexual de los niños y niñas y adolescentes.
      </p>
    </div>
  </section>
</Layout>
