---
import Check from '@components/Icons/Check.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aventur Travel" description='Agencia de Viajes Aventur Travel'>
	<section class="z-[10] relative">
    <div class="w-[100vw] h-[400px] lg:h-[500px] relative">
      <img src="Condiciones/TyC.webp" alt="Imagen portada terminos y condiciones" class="w-full h-full"></img>
      <div class="absolute right-[50%] translate-x-[50%] bottom-[150px] text-3xl font-extrabold flex flex-col">
        <h2 class="text-center">TERMINOS Y CONDICIONES</h2>
        <span class="bg-red-600 h-2 w-full"></span>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700]">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Ámbito de nuestro servicio</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Cuando se genera una reserva, recibirá de inmediato una notificación automática indicando que el status de su reserva será comunicada en las próximas 48 horas. En ese lapso de tiempo uno de nuestros operadores le enviará un e-mail a la dirección registrada confirmando, rechazando o brindando alguna alternativa a la reserva
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los pasajeros son responsables de brindar correctamente su e-mail y teléfonos de contacto, si por algún motivo los pasajeros no reciben el e-mail de confirmación en el plazo establecido, deberán comunicarse con Aventur Travel.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Precios de Programas y Servicios</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] text-[#763910]"/>Todas las tarifas están expresadas en dólares norteamericanos y nuevos soles, no está incluido el IGV del 18% aplicable para peruanos y residentes en el Perú (exonerado para extranjeros).
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] text-[#763910]"/>Las tarifas para grupos mayores de 12 personas están sujetas a descuentos, se recomienda consultar con nuestro departamento de reservas reservas@aventurtravelperu.com
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] text-[#763910]"/>Todas las tarifas de transporte están sujetas a cambios y disponibilidad de espacio a confirmarse el día que se realice la reserva. Esta tarifa disponible será enviada vía e-mail por uno de nuestros operadores.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Reservas de Paquetes Turísticos / Tours</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Toda solicitud de reserva de programas de viajes o tours que se confirme, están asegurados y garantizados todos los servicios solicitados.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La confirmación de la reserva solicitada, le será informada a través de un e-mail indicando el código de reserva de cada programa de viaje solicitado.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La confirmación de los servicios procederá luego de haber recibido su solicitud de reserva online, o haber recibido un depósito de garantía.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>El pasajero será contactado por el Operador Turístico en el lugar indicado en el itinerario del programa o tour, y luego de identificarse con su pasaporte o documento de identidad y mencionar el código de confirmación de reserva, le bastará para el inicio de la prestación de los servicios turísticos.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Es responsabilidad del pasajero indicar los datos de su arribo y salida con la debida anticipación.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>En caso el pasajero requiera recojo de algún lugar específico, distinto al publicado en el programa – itinerario, deberá coordinarlo anticipadamente con Aventur Travel.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Sí adquiere un programa con transporte, el pasajero deberá presentarse a la hora indicada de Check in en la estación de embarque de la empresa transportadora, para recabar su tarjeta o ticket de embarque y proceder con el viaje.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Toda reserva de boletos es personal e intransferible, no endosables y no reembolsables.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Todos los tours están sujetos a factor climático, en caso haya interferencias del clima para realizar el tour este se cambiará por uno similar y de igual valor que este sujeto a disponibilidad del momento, caso contrario se dará por tomado el tour.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Penalidades</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Para toda cancelación, por parte del pasajero, antes de los 30 días de la fecha de inicio del tour, hospedaje u otro servicio adquirido serán penalizados con el 100%.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>El No-show tiene penalidad del 100%.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Para toda cancelación, por parte del cliente, entre los 59 y 31 días de la fecha de inicio del tour serán penalizados con el 50% del valor del programa, más US $ 25 de gastos administrativos.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Solo es posible cambios en los tours por uno del mismo o menor costo antes de los 15 días del inicio del tour, Aventur Travel se reserva el derecho de reembolso.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Nota: La reserva de los programas que incluyan transporte no son reembolsables en ningún caso.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>En caso el pasajero decida abandonar el hotel antes de la fecha de salida reservada, la diferencia de noches no será reembolsable.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>En caso exista algún reembolso por parte de la empresa este se dará en 45 días hábiles.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Documentación</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los pasajeros deberán portar un pasaporte válido, o documento de viaje de acuerdo a su nacionalidad, según las normas legales requeridas por el Perú.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los pasajeros que tomen nuestros servicios de Hoteles, tours y/o Paquetes deben portar consigo sus pasaportes o documento de Identidad válido para ingresar al Perú además de la Tarjeta Andina de Migraciones.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los grupos familiares que contengan niños deberán portar su pasaporte o DNI, en caso viajar solo con uno de los padres o algún apoderado deberá presentar un permiso notarial con autorización de los padres. En caso haya realizado el pago y no presente esta documentación, no se le brindará el servicio y se cobrará el 100%.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">La Responsabilidad y Obligación</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La obligación por los servicios no proporcionados debido a la negligencia de Aventur Travel o nuestro personal, se limitará al costo real de los servicios omitidos y excluye todas las consecuencias o costos indirectos resultantes.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>En tal caso eventual Aventur Travel hará su mejor esfuerzo para proporcionar arreglos alternativos de igual valor, sujetos a disponibilidad.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Aventur Travel actúa como intermediario entre las empresas de servicios turísticos y los pasajeros para el proceso de reservas y el pago de los servicios. En caso la empresa de servicios deje de operar por razones laborales internas, causas de fuerza mayor u otros motivos, o en caso la empresa prestadora del servicio se declare en insolvencia económica, con las formalidades que exige la legislación peruana correspondiente, el reembolso del servicio no prestado se efectuará, dentro de los mencionados procedimientos y en los plazos establecidos por las autoridades peruanas, para cada caso específico.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los clientes aceptan que Aventur Travel no tiene ninguna responsabilidad por la no prestación de los servicios ofertados en caso de condiciones meteorológicas adversas o desastres naturales que no puedan ser previstos. Así mismo, reconoce que no habrá responsabilidad, en caso de movimientos políticos, accidentes, huelgas o cualquier otro acto público fuera del control de Aventur Travel, que no pudiera ser previsto. En estos casos, no será reembolsable el valor del servicio contratado.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los clientes aceptan que Aventur Travel no tiene ninguna responsabilidad por la no prestación de los servicios de transporte ofertados sea vía terrestre, aérea o marítima.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>El pasajero acepta que Aventur Travel como intermediario de empresas de servicios turísticos, no tiene ni obligación ni responsabilidad, por la pérdida, daño o lesión sostenidas en relación con los servicios y alojamientos proporcionados por los ferrocarriles, operadores de autobús, compañías de turismo locales, operadores del tour, compañías de buques de vapor, aerolíneas, hoteles y medios de alojamiento. Todos estos servicios, operan bajo las leyes del país, sometiéndose a las regulaciones que las autoridades pertinentes proporcionan.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>El Operador Turístico se reserva el derecho de alterar el itinerario de cualquier programa del paquete / tour.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Aventur Travel proveerá al pasajero todos los e-tickets y/o confirmaciones de reservas a través del e-mail del pasajero consignado en el formulario de reserva.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>Los servicios que se brindan a través de este sistema son intangibles por lo tanto si los pasajeros por el motivo que sea no toman los servicios en la fecha y hora programada asumirán la responsabilidad de los gastos totales de éstos.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8 relative z-[700] ">
    <div class="lg:max-w-[1024px] max-w-[85%] mx-auto">
      <h3 class="text-3xl font-semibold text-[#312783]">Medios de Pago</h3>
      <div class="flex flex-col gap-2 pt-4">
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La empresa acepta tarjetas de crédito, débito y pre-pagadas Visa, MasterCard, American Express y Diners Club.
        </p>
        <p class="flex gap-2">
          <Check class="min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px] text-[#763910]"/>La empresa acepta depósitos para pagos en efectivo en cuenta de bancos en el Perú y Western Unión en el extranjero.
        </p>
      </div>
    </div>
  </section>
</Layout>
