---
import FacebookIcon from './Icons/Social/FacebookIcon.astro'
import WhatsAppIcon from './Icons/Social/WhatsAppIcon.astro'
import InstagramIcon from './Icons/Social/InstagramIcon.astro'
---

<footer class="relative text-white ">
    <div class="w-[100%] bg-[#312783] overflow-hidden">
        <div class="flex max-w-[1300px] mx-auto px-4 md:gap-6 gap-2 pt-2 flex-wrap justify-between">
            <div class="flex flex-col md:gap-5 gap-2 max-w-[500px]">
                <h2 class="text-3xl text-[#e9d36c] font-semibold">Aventur Travel</h2>
                <p>
                    ¡Descubre el mundo con nosotros! Tu próxima aventura comienza aquí. Explora destinos increíbles con el respaldo de nuestra experiencia. ¿A dónde te llevaremos hoy?
                </p>
            </div>

            <div>
                <li class="text-2xl list-none font-semibold text-[#e9d36c] py-2 uppercase">
                    Nosotros
                </li>
                <li class="my-4 list-none">Destinos</li>
                <li class="my-4 list-none">Full Day</li>
                <li class="my-4 list-none">Testimonios</li>
            </div>

            <div>
                <li class="text-2xl list-none font-semibold text-[#e9d36c] py-2 uppercase">
                    Legales</li>
                <li class="my-4 list-none">Términos y condiciones</li>
                <li class="my-4 list-none">Políticas de privacidad</li>
                <li class="my-4 list-none">Libro de reclamaciones</li>
            </div>
            <div class="mb-4 md:mb-0">
                <h2 class="text-2xl font-semibold text-[#e9d36c] py-2 uppercase">Contact</h2>
                <p class="text-[16px] my-4">Email: Aventurtravelperu@gmail.com</p>
                <p class="text-[16px] my-4">Celular: +51 939332074</p>
                <div class="flex space-x-4">
                    <a
                        class="text-white hover:text-pink-500 transform hover:scale-150 
                    transition-all duration-150 ease-in-out" href="https://www.facebook.com/aventurtravelperu" target="_blank">
                        <FacebookIcon />
                    </a>
                    <a
                        class="text-white hover:text-pink-500 transform hover:scale-150
                     transition-all duration-150 ease-in-out" href="https://wa.me/+51939332074" target="_blank">
                        <WhatsAppIcon />
                    </a>
                    <a
                        class="text-white hover:text-pink-500 transform hover:scale-150
                     transition-all duration-150 ease-in-out" href="https://www.instagram.com/aventur_travelperu/" target="_blank">
                        <InstagramIcon />
                    </a>
                </div>
            </div>
        </div>

        <h6 class="text-center pb-6">Todos los derechos reservados</h6>
    </div>
</footer>